body{
    background-color: rgb(248, 244, 194);
}
header{
    max-width: 1200px;
    background-color: rgb(239, 241, 67);
    color: rgb(3, 3, 3);
    border-radius: 50px;
    padding: 10px;
    text-align: center;

}
nav li{
 text-decoration: none;
 display: block;
 font-family: Arial, Helvetica, sans-serif;
 margin: 0 auto;
 
}
nav ul{
    list-style: none;


}
nav a{
    padding: 12px 10px;
}
main{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(70, 116, 245);
    padding: 10px;
    border-radius: 12px;
   

}
section{
    width: 70%;
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(236, 59, 53);
    margin: 0% auto;
    box-shadow: 0 5px 12px rgb(10, 10, 10);


}
footer{
     width: 88%;
    padding: 9px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(231, 191, 229);
    color: rgb(14, 12, 12);
 

}
div{
    text-align: center;
}